<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shiro.mapper.RolePermissionMapper">

    <sql id="tableName">
        t_role_permission
    </sql>

    <sql id="selectColumns">
        *
    </sql>

    <select id="queryByRoleId" resultType="com.shiro.entity.RolePermissionDo" parameterType="int">
        SELECT
        <include refid="selectColumns" />
        FROM
        <include refid="tableName" />
        WHERE `role_id` = #{roleId}
    </select>

</mapper>