<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shiro.mapper.UserMapper">

    <sql id="tableName">
        t_user
    </sql>

    <sql id="selectColumns">
        *
    </sql>

    <select id="queryByID" parameterType="String" resultType="com.shiro.entity.UserDo">
        SELECT
        <include refid="selectColumns" />
        FROM
        <include refid="tableName" />
        WHERE `id` = #{id}
    </select>

</mapper>